<a href="https://colab.research.google.com/github/Rohit6069/Python-New/blob/Module-2/Assignment_2_Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ncr using function
def ncr(n,r):
  return fact(n)/(fact(n-r)*fact(r))
def fact(n):
 result=1
 for i in range(1,n+1):
  result=result*i
 return result
ncr (int(input("enter n:")),int(input("enter r:")))

enter n:5
enter r:2

10.0

In [ ]:
#gcd
def gcd(a, b):
	if(b == 0):
		return a
	else:
		return gcd(b, a % b)


print(end="")
gcd(int(input("enter a:")),int(input("enter b:")))

enter a:12
enter b:6

6

In [ ]:
#product of 2 number uing recursion
def product(a,b):
    if(a<b):
        return product(b,a)
    elif(b!=0):
        return(a+product(a,b-1))
    else:
        return 0
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Product is: ",product(a,b))

Enter first number: 5
Enter second number: 6
Product is:  30

In [ ]:
# program to display the Fibonacci sequence using recursion


def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))
nterms = 10
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
# Python code t get difference of two lists using functions

def Diff(l1, l2):
	return list(set(l1) - set(l2)) + list(set(l2) - set(l1))


l1 = [90, 56, 87, 43, 22, 9, 23]
l2 = [25, 40, 35]
print(Diff(l1, l2))

[9, 43, 23, 22, 87, 56, 90, 40, 25, 35]

In [ ]:
# Python program to find second largest
list1 = [10, 20, 4, 45, 99]
mx=max(list1[0],list1[1])
secondmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
	if list1[i]>mx:
		secondmax=mx
		mx=list1[i]
	elif list1[i]>secondmax and \
		mx != list1[i]:
		secondmax=list1[i]

print("Second highest number is : ",\
	str(secondmax))

#second smallest number in the list
def find_len(list1):
   length = len(list1)
   list1.sort()
   list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
   print("Second Smallest element is:", list1[1])
   second_smallest = find_len(list1)

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuple having first element as the number and second element as the square of the number


def squareoflist(li):
    
    result=[(num, num**2) for num in li]
    return result


li = [3, 4, 1, 2]


print(squareoflist(li))

[(3, 9), (4, 16), (1, 1), (2, 4)]

In [ ]:
#Given list of tuples, remove all the tuples with length K. 

given_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]


print("The original list : " + str(given_list))

K = 1


res = [ele for ele in given_list if len(ele) != K]

print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (8, 6, 7), (3, 4, 6, 7)]

In [ ]:
#Program to generate and print a dictionary that contains a number (between 1and n) in the form (x, x*x).

n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Program to remove a key from a dictionary


test_dict = {"Raghu" : 22, "radha" : 21, "ani" : 21, "ritha" : 21}

print ("The dictionary before performing remove is : " + str(test_dict))

del test_dict['ani']

print ("The dictionary after remove is : " + str(test_dict))

The dictionary before performing remove is : {'Raghu': 22, 'radha': 21, 'ani': 21, 'ritha': 21}
The dictionary after remove is : {'Raghu': 22, 'radha': 21, 'ritha': 21}

In [ ]:
#Program to get the maximum and minimum value in a dictionary
my_dict = {'x':5011, 'y':574, 'z': 5760}
my_dict_keys
print(max(my_dict))
print(min(my_dict))

z
x

In [ ]:
# Python program to count occurrences
count = 0

my_string = "Hi i am rohit with a range rover"
my_char = "r"

for i in my_string:
    if i == my_char:
        count=count+1

print(count)

4

In [ ]:
#Program for replacing one substring by another
s=input("enter string")
substr=input("enter string to be replaced ")
newstr=input("enter the new string that has to replaced")
c=s.count(substr)
print("the frequency of the substreing is ",c)
r=s.replace(substr,newstr)
print("the string after replacing is:",r)

enter stringhi prasanth
enter string to be replaced prasanth
enter the new string that has to replacedrohit
the frequency of the substreing is  1
the string after replacing is: hi rohit

In [ ]:
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [ ]:
#Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of string
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2